body{
    padding: 100px;
}
.bank-title{
    text-align: center;
}
.submit-area{
    margin-top: 50px 500px;
    padding : 40px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px gray;
}
#paysa-hi-paysa{
    display: none;
}
.deposit{
    background-color: slateblue;
}
.withdraw{
    background-color: lightsalmon;
}
.balance{
    background-color: orange;
}
.gap{
    margin: 0 20px;
    color: white;
    padding: 20px;
    border-radius: 10px;
}
.gap2{
    margin: 0 20px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px gray;
}
.taka-input{
    margin-top: 40px;
}